<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{Layout}">
<head>
    <title>Gate Information</title>  
    <script src="/xFace/dist/js/pages/cfg/GateInfo.js"></script>	
			
</head>
<body>	
	<div class="notifications top-right"></div>
	<section layout:fragment="header">								
	    <h1>Gate Information</h1>
	    <ol class="breadcrumb">
	        <li><a href="#" data-url="/xFace/dashboard/landingPage" class="subMenuLink"><i class="fa fa-home"></i> <span>Home</span></a></li>
	        <li><span>Configuration</span></li>
	        <li class="active"><a href="#" data-url="/xFace/cfg/gateInfo" class="subMenuLink"><span>Gate Information</span></a></li>
	    </ol>
	</section>
	<div layout:fragment="content">
		<div class="panel-group" id="pageOption">
			<div class="panel panel-default">
		    	<div class="panel-heading" style="background-color:#3c8dbc !important;">
		        	<h4 class="panel-title" style="color:#fff !important;">
		          		<a data-toggle="collapse" href="#collapseOptionBody" id="linkPageOption">Option</a>
		        	</h4>
		      	</div>
		      	<div id="collapseOptionBody" class="panel-collapse collapse in">
			        <div class="panel-body">
						<form>
							<div class="form-inline button_generic_operation">    			
								<button type="button" id="btnAdd" class="btn btn-primary form-control">Add New</button>	                
				    			<button type="button" id="btnEdit" class="btn btn-primary form-control">Edit</button>    
								<button type="button" id="btnDelete" class="btn btn-danger form-control" data-toggle="modal" data-target="#confirm-delete">Delete</button>           
							</div>		
						</form>
						<!-- end of panel-body -->
					</div>
					<!-- end of collapseOptionBody -->
				</div>
				<!-- end of panel-default -->
			</div>
			<!-- end of panel-group -->
		</div>
	    <!-- Main row -->
	    <div class="row">
		    <div class="col-xs-12">		        
	            <div class="box-body">		                
	                <table id="data-table" class="display" style="width:100%">
	                	 <thead>
				            <tr>
				                <th>ID</th>
				                <th>Role Code</th>
				                <th>Role Name</th>
				                <th>Default Page</th>					                
				            </tr>
				        </thead>
				        <tfoot>
				            <tr>
				                <th>ID</th>
				                <th>Role Code</th>
				                <th>Role Name</th>
				                <th>Default Page</th>
				            </tr>
				        </tfoot>
	                </table>		                
	                <div id="pager"></div>		                
	                <div id="imageLoader" class="loader"></div>		            		            	
            	</div>	        			
	    	</div>
	    </div>
	    <!-- /.row (main row) -->  
	    
	    
	    <!-- from add/edit -->
		<div class="container">
		 	<!-- [ Modal #1 ] -->
		  	<div class="modal fade" id="formModal" tabindex="-1">
		    	<div class="modal-dialog">
		      		<div class="modal-content">
		        		<button type="button" class="close" data-dismiss="modal"><i class="icon-xs-o-md"></i></button>
	        			<div class="modal-header">
	          				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	          				<h4 class="modal-title caps"><strong>Updating Role</strong></h4>
	        			</div>
	        			<div class="modal-body">		        
	        				<form class="form-horizontal">
								<div class="box-body">
									<div class="form-group">
			                  			<label for="txtRoleCode" class="col-sm-3 control-label">Role Code</label>				                  
			                  			<div class="col-sm-9">
			                    			<input type="text" id="txtRoleCode" class="form-control" placeholder="Role Code" />
							  			</div>		                  
			                		</div>	
			                		<div class="form-group">
			                  			<label for="txtRoleName" class="col-sm-3 control-label">Role Name</label>				                  
			                  			<div class="col-sm-9">
			                    			<input type="text" id="txtRoleName" class="form-control" placeholder="Role Name"/>
							  			</div>		                  
			                		</div>	
			                		<div class="form-group">
			                  			<label for="txtDefaultPage" class="col-sm-3 control-label">Default Page</label>				                  
			                  			<div class="col-sm-9">
			                    			<input type="text" id="txtDefaultPage" class="form-control" placeholder="Default page"/>
							  			</div>		                  
			                		</div>					                	               
				                	<div class="form-group" style="overflow-y: scroll; max-height:220px;margin-right:10px;margin-left:10px;">
				                		<!--  Permission -->
				                		<div id="Group"></div>				                	
				                		<div id="treeview-permission" class=""></div>					                		               
				                	</div>
		                		</div>
		               		</form>        
	        			</div>
	        			<div id="divDisplayError" style="width:90%; margin-left: auto; margin-right: auto;"></div>
		        		<div class="modal-footer">
		          			<div id="div8"></div>
		          			<button type="button" id="btnCheckAll" class="btn btn-primary" data-toggle="modal">Check All</button>
		          			<button type="button" id="btnUnCheckAll" class="btn btn-warning" data-toggle="modal">Uncheck All</button>
		          			<button type="button" id="btnSave" class="btn btn-info" data-toggle="modal">Save</button>
		          			<button type="button" id="btnClose" class="btn btn-danger" data-dismiss="modal">Cancel</button>
		        		</div>
	      			</div>
	    		</div>
	  		</div>		
		</div>
	</div>   		 	       
</body>
</html>